<table mat-table [dataSource]="ticket" class="mat-elevation-z8">

 
  <ng-container matColumnDef="ticketId">
    <th mat-header-cell *matHeaderCellDef> Ticket Id </th>
    <td mat-cell *matCellDef="let element"> {{element.ticketId}} </td>
  </ng-container>

  <ng-container matColumnDef="movieId">
    <th mat-header-cell *matHeaderCellDef> Movie Id </th>
    <td mat-cell *matCellDef="let element"> {{element.movieId}} </td>
  </ng-container>


  <ng-container matColumnDef="movieName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.movieName}} </td>
  </ng-container>


  <ng-container matColumnDef="theatre">
    <th mat-header-cell *matHeaderCellDef> theatre </th>
    <td mat-cell *matCellDef="let element"> {{element.theatre}} </td>
  </ng-container>

  <ng-container matColumnDef="noOfSeats">
    <th mat-header-cell *matHeaderCellDef> No Of Seats Booked </th>
    <td mat-cell *matCellDef="let element"> {{element.noOfSeats}} </td>
  </ng-container>

  <ng-container matColumnDef="seatNumber">
    <th mat-header-cell *matHeaderCellDef> Seat Number </th>
    <td mat-cell *matCellDef="let element"> {{element.seatNumber}} </td>
  </ng-container>

  
  


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>