
<br>
<mat-card>
    <mat-card-content>
      <form>
        <h2>User Profile</h2>
        <div class="example-container"  >
            <mat-form-field>
              <mat-label>User Id</mat-label>
              <input matInput type="text" [(ngModel)]="usernew.userId" name="userId" [readonly]="true"  >
            </mat-form-field>
            </div>
        <div class="example-container" >
          <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput type="text" [(ngModel)]="usernew.username" name="username"  [readonly]="true" >
          </mat-form-field>
          </div>


          <div class="example-container">
            <mat-form-field>
                <mat-label>Email Address</mat-label>
              <input matInput type="text" [(ngModel)]="usernew.email" name="email"  [readonly]="true"> 
            </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Contact Number</mat-label>
                  <input matInput type="text" [(ngModel)]="usernew.conNum" name="conNumber" [readonly]="true">
                </mat-form-field>

              </div>

              </form>
              <div class="example-container">
             
               <button mat-raised-button (click)="openDialog()"> <mat-icon>create</mat-icon>Edit</button>
               </div>
                </mat-card-content>
  </mat-card>



  