
<br>
<mat-card>
    <mat-card-content>
      <h2>Reset Password</h2>
      <form #saveForm="ngForm" (ngSubmit)="secretQuestionData()">
        <div class="example-container" >
          <mat-form-field>
            <mat-label>User Id</mat-label>
            <input matInput type="text" [(ngModel)]="usernew.userId" name="userId" [readonly]="true"  >
          </mat-form-field>
          </div>


          <div class="example-container">
            <mat-form-field>
                <mat-label>User Name</mat-label>
              <input matInput type="text" [(ngModel)]="usernew.username" name="username" [readonly]="true"> 
            </mat-form-field>
            </div>
     
   

                <div class="example-container">
                    <mat-form-field>
                        <mat-label>What is Your Favourite Name</mat-label>
                      <input matInput type="text" [(ngModel)]="usernewObj.secretQuestion" name="secretQuestion" required  >
                      <mat-error>
                       Enter the blank to reset password
                      </mat-error>
                    </mat-form-field>
                    </div>
        

        <div  *ngIf="(usernew.secretQuestion == usernewObj.secretQuestion)">
          
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                  <input matInput type="password" [(ngModel)]="usernewObj.password" name="password" required  >
                  <mat-error>
                    Enter the  password
                   </mat-error>
                </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field>
                        <mat-label>confirmPassword</mat-label>
                      <input matInput type="password" [(ngModel)]="usernewObj.confirmPassword" name="confirmPassword" required  >
                      <mat-error>
                        Enter the confirm password
                       </mat-error>
                    </mat-form-field>
                    </div>
            
                    <button mat-raised-button color="primary" [disabled]="!saveForm.form.valid" (click) = "resetPassword()">Save</button>

     </div>
     </form>
    </mat-card-content>
  </mat-card>






