mat-card {
    max-width: 350px;
    margin: 2em auto;
    text-align: center;
    min-height:300px;
    font-size: 1px;
    background-color: mediumseagreen;
    color:white;
    
  }
  
  mat-form-field {
    height:75px;
    display: block;
   
  }